
    <div>
        <h1>New Event</h1>
        <hr>
        <form name="frmNewEvent">
            <fieldset>
                <label for="eventName">Event Name:</label>
                <input type="text" required ng-model="event.name" id="eventName" placeholder="Enter event name">
                <label for="eventDate">Event Date:</label>
                <input type="text" ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" id="eventDate" placeholder="Enter event Date(dd/MM/yyyy)">
                <label for="eventTime">Event Time:</label>
                <input type="text" ng-model="event.time" id="eventTime" placeholder="Enter event time">

                <label for="eventCity">Event City:</label>
                <input type="text" ng-model="event.location.city" id="eventCity" placeholder="Enter event city..">

                <label for="eventLocation">Event Time:</label>
                <input type="text" ng-model="event.location.province" id="eventLocation" placeholder="Enter event location..">


                <label for="eventImage">Event Image Url:</label>
                <input type="url" ng-model="event.imgUrl" id="eventImage" placeholder="Enter event image url">

            </fieldset>
            <img ng-src="{{event.imgUrl}}" alt="">
            <br> <br>
            <button type="submit" ng-click="submitEvent(event,frmNewEvent)" ng-disabled="frmNewEvent.$invalid" id="btnSubmit" class="btn btn-primary">submit</button>
            <button type="submit" id="btnCancel" class="btn btn-default">Cancel</button>
        </form>
    </div>
    
    
